@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full::before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

.custom-landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  flex: flex-wrap;
}

.fullscreen {
  position: relative;
  height: 100vh;
  flex: flex-wrap;
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
}

.center-text {
  text-align: center;
}
