@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full::before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

.custom-landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  flex: flex-wrap;
}

.fullscreen {
  position: relative;
  height: 100vh;
  flex: flex-wrap;
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
}

.page-title {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #fcfcfc;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2rem;
}
