.item {
  margin: 1rem 0;
}

.image {
  /* width: 25rem;
  height: 100%; */
  width: 100%;
  height: auto;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  /* border: 1px solid rgb(0, 0, 0); */
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  /* padding: 2rem; */
  /* padding-top: 25%; */
  padding-top: 50px;
  color: #2c292b;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding-top: 25%;
  padding-bottom: 25%;
  /* padding: auto; */
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}
